<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KTV.Properties.Settings.db_KTVConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database\db_KTV.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
  <appSettings>
    <add key="StrCon" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database\db_KTV.mdb;Persist Security Info=True"/>
    
  </appSettings>
      
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="port" value="5450" />
    <add key="Thread" value="20" />
  </appSettings>
  <configuration>-->
